[submodule "ruffle"]
	path = ruffle
	url = https://github.com/chameleonxxl/ruffle.git
	branch = dirplayer-integration
[submodule "vm-rust/tests/snapshots/reference"]
	path = vm-rust/tests/snapshots/reference
	url = git@github.com:igorlira/dirplayer-e2e-snapshots.git
[submodule "xtras/bobba-xtra"]
	path = xtras/bobba-xtra
	url = https://github.com/chameleonxxl/bobba-xtra.git
[submodule "xtras/groove-xtra"]
	path = xtras/groove-xtra
	url = https://github.com/chameleonxxl/groove-xtra.git
