[submodule "ruffle"]
	path = ruffle
	url = https://github.com/chameleonxxl/ruffle.git
	branch = dirplayer-integration
[submodule "vm-rust/tests/snapshots/reference"]
	path = vm-rust/tests/snapshots/reference
	url = git@github.com:igorlira/dirplayer-e2e-snapshots.git
