
.castInspector {
  flex: 1;
}

.debugContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bottomContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.scriptError {
  display: flex;
  background-color: var(--match-bg);
  color: var(--text);
  border-bottom: 1px solid var(--hairline);
  align-items: flex-start;
  padding: 5px 10px;
}
