
.selectedListItem {
  background-color: var(--select-bg);
}

.listItem {
  width: 100%;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: var(--surface-hover);
  }

  > button {
    width: 100%;
  }
}

