.tabViewContainer {
  display: flex;
}

.tabButton {
  background: none;
  border: none;
  color: var(--text-dim);
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px 4px 0 0;

  &:hover {
    color: var(--text);
    background-color: var(--surface-hover);
  }
}

.tabItemContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
}
